.edit-modal {
  width: 100vw !important;
  overflow-y: auto;
}

.edit-modal .ant-form-item-label {
  width: 80px;
}
.edit-modal .ant-modal-content {
  height: calc(100vh - 50px);
}

.edit-modal .editor-req .jsoneditor-menu {
  display: none;
}

.edit-modal .editor-res .jsoneditor {
  height: calc(100vh - 625px); 
}

.edit-modal .form-item-mock-editor {
  height: calc(100vh - 365px); 
}
.mock-editor-box {
  height: calc(100vh - 400px);
  display: flex;
  background: #f5f5f5;
  padding-top: 10px;
}
.mock-editor-box .mock-editor-menu {
  width: 230px;
}
.mock-editor-warp {
  flex: 1;
}