.edit-modal {
  width: 100vw !important;
  overflow-y: auto;
}

.edit-modal .ant-form-item-label {
  width: 80px;
}
.edit-modal .ant-modal-content {
  height: calc(100vh - 50px);
}

.edit-modal .editor-req .jsoneditor-menu {
  display: none;
}

.edit-modal .editor-res .jsoneditor {
  height: calc(100vh - 625px); 
  min-height: 250px;
}
.edit-modal .editor-res.only-res .jsoneditor {
  height: calc(100vh - 310px); 
}

.edit-modal .form-item-mock-editor {
  height: calc(100vh - 365px); 
}
.mock-editor-box {
  height: calc(100vh - 310px);
  display: flex;
  padding-top: 10px;
}
.mock-editor-box .mock-editor-menu {
  width: 230px;
}
.mock-editor-warp {
  flex: 1;
}
.edit-modal .ant-modal-body{
  overflow: auto;
}
.mock-editor-q {
  padding: 5px 0 5px 0;
}
.mock-editor-q .div.jsoneditor-outer.has-main-menu-bar {
  margin-top: 0;
  padding-top: 0;
}
.edit-modal .ant-menu-light.ant-menu-root.ant-menu-inline {
  border-inline-end: none !important;
}
.edit-modal .ant-form-mock-item {
  width: 30%;
}
.mock-editor-title{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mock-editor-menu {
  padding-top: 3px;
}

.req-menu-item {
  display: flex;
  justify-content: space-between;
  padding: 6px 10px 6px 0;
  background: #fff;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 4px;
  height: 32px;
  cursor: pointer;
  align-items: center;
}
.req-menu-item:hover {
  background-color: #d6e9ff;
}
.req-menu-item:hover .req-menu-icon {
  display: inline;
}
.req-menu-item.active {
  background-color: #e6f4ff;
  color: #1677ff;
}

.req-menu-icon {
  height: 20px;
  display: none;
  margin-left: 5px;
}
.req-menu-option {
  display: flex;
}
.req-menu-name {
  padding-left: 10px;
}
.req-menu-input-box {
  flex: 1;
  width: 100%;
}