body{
    padding:0 20px;
}
*{
    transition: all 0.5s;
}
h4{
    margin-top:20px;
    margin-bottom: 10px;
}
p{
    padding: 5px;
}
.host-list{
    margin-top: 10px;
}
.delete-proxy{
    float: none;
    margin-left: 0px;
    transform: translateY(-5px);
    border: none;
    background: #fff;
    font-size: 20px;
    color: #B1B0B0;
}
.cLi{
    margin-bottom: 5px;
    font-size: 16px;
    list-style-type: none;
}
.checked{
    display: inline-block;
    width: 15px;
    color:#468847;
    opacity: 0;
}
.active{
    opacity: 1;
}
.mock{
    color:#468847;
    padding-left: 40px;
}
.mock a{
    color:#B73333;
}
.mock span{
    opacity: 0;
    color:#468847;
}
.mock span.active{
    opacity: 1;
}
.glyphicon{
    font-size: 20px;
    color: #607fa6;
    cursor: pointer;
    margin-right: 10px;
}